/nvim/plugged/
/nvim/undodir/

/vim/.vim/plugged/
/vim/.vim/undodir/
/vim/.vim/autoload/
/vim/.vim/colors/

test.*
Test.*
TEST.*

X-PlyaAround.md
NOTES.md

*backup.*
*.backup
backup/

**dec/
errors/
not-used/
